extends layout

block content
  .card
    span.eyebrow Incidencia detectada
    h2 Error #{statusCode}
    p #{message}
    br
    .actions
      a.btn.btn-primary(href="/") Volver al inicio
      a.btn.btn-success(href="/productos") Ir a productos
